<header class="site-header">
  <div class="header-inner">
    <a class="logo" href="/">[[AgencyName]]</a>
    <nav class="nav">
      <a href="#how">How it works</a>
      <a href="#eligibility">Eligibility</a>
      <a href="#compensation">Compensation</a>
      <a href="#form">Check</a>
      <a href="#faq">FAQ</a>
    </nav>
  </div>
</header>
